In [1]:
import pandangas as pg

In [2]:
net = pg.create_empty_network()

busf = pg.create_bus(net, level="MP", name="BUSF")
bus0 = pg.create_bus(net, level="MP", name="BUS0")

bus1 = pg.create_bus(net, level="BP", name="BUS1")
bus2 = pg.create_bus(net, level="BP", name="BUS2")
bus3 = pg.create_bus(net, level="BP", name="BUS3")

pg.create_load(net, bus2, p_kW=10.0, name="LOAD2")
pg.create_load(net, bus3, p_kW=15.0, name="LOAD3")

pg.create_pipe(net, busf, bus0, length_m=1000, diameter_m=0.05, name="PIPE0")
pg.create_pipe(net, bus1, bus2, length_m=4000, diameter_m=0.05, name="PIPE1")
pg.create_pipe(net, bus1, bus3, length_m=5000, diameter_m=0.05, name="PIPE2")
pg.create_pipe(net, bus2, bus3, length_m=3000, diameter_m=0.05, name="PIPE3")

pg.create_station(net, bus0, bus1, p_lim_kW=50, p_Pa=1.022e5, name="STATION")
feeder = pg.create_feeder(net, busf, p_lim_kW=50, p_Pa=4.5e5, name="FEEDER")

In [3]:
pg.runpp(net, method="NON-LINEAR")

nl_bus = net.res_bus.copy()
net.res_bus

   name      p_Pa  p_bar geometry
2  BUS1  102200.0   1.02     None
3  BUS2  102065.0   1.02     None
4  BUS3  102042.0   1.02     None
0  BUSF  450000.0   4.50     None
1  BUS0  449967.0   4.50     None

In [4]:
net.res_pipe

    name  m_dot_kg/s  v_m/s  p_kW  loading_% geometry
1  PIPE1    0.000339   0.25  12.9       12.3     None
2  PIPE2    0.000317   0.23  12.1       11.5     None
3  PIPE3    0.000077   0.06   2.9        2.8     None
0  PIPE0    0.000656   0.24  25.0       12.2     None

In [5]:
net.res_feeder

     name  m_dot_kg/s     p_kW  loading_%
0  FEEDER   -0.000656 -24.9936       50.0

In [6]:
net.res_station

      name  m_dot_kg/s     p_kW  loading_%
0  STATION    0.000656  24.9936       50.0

In [7]:
pg.runpp(net, method="LINEAR")

ln_bus = net.res_bus.copy()
net.res_bus

   name      p_Pa  p_bar geometry
2  BUS1  102200.0   1.02     None
3  BUS2  102193.0   1.02     None
4  BUS3  102192.0   1.02     None
0  BUSF  450000.0   4.50     None
1  BUS0  449998.0   4.50     None

In [8]:
(ln_bus.p_Pa-nl_bus.p_Pa) / (nl_bus.p_Pa - 1e5) * 100

2    0.000000
3    6.198547
4    7.345739
0    0.000000
1    0.008858
Name: p_Pa, dtype: float64